{{#>body}}
{{#with brand}}
  <div class="screen" style = 'background-image: url({{link}})'>
    <div class="centered_div">
      <h1 style="color: black; font-size:100px;" >{{title}} </h1>
	    <p style = "color: #32BD56;"><b>{{tagline1}}</b></p>
    </div>
      <p style = "color: red;float:right;">{{tagline2}}</p>
  </div>
{{/with}}

<div class="screen half"></div>

{{#with mission}}
    <div class="screen" style = 'background-image: url({{link}})'>

      <div class="centered_div">
        <h1 style="color: blue; font-size:100px;" >{{header}} </h1>
        </div>

      <div class= "centerInfo">
				<center style= "color: black; font-size :20px;"><b>{{tagline1}}</b></center>
        </div>

    </div>
{{/with}}

<div class="screen half"></div>

{{#with explanation}}
  <div class="screen"  style='background-image: url({{link}})'; 'background-color: #f2f2f2'>
    <div class="container center-block">
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="steps">
          <h1 style="color: black; font-size:25px;" > {{step1}} </h1>
          <p class="huge">{{header}}</p>
          <ul class="list-unstyled">
            <li> Sign up for free </li>
            <li> Help your neighbors </li>
            <li> Ask for help </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="steps">
          <h1 style="color: black; font-size:25px;" > {{step2}}</h1>
          <ul class="list-unstyled">
            <li> Search </li>
            <li> Post </li>
            <li> Communicate </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="steps">
          <h1 style="color: black; font-size:25px;" > {{step3}} </h1>
          <ul class="list-unstyled">
            <li> Reputation </li>
            <li> Leveling </li>
            <li> Achievement </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{{/with}}


{{#with join}}
  <div class="screen">
    <div class="center-block">
      <p class="large"> <a href="#/signup">{{header}} </a></p>
    </div>
  </div>
{{/with}}
{{/body}}
