{{#>body}}
    {{#with brand}}
      <section class="screen" style="background-color:pink;">
        <div class="center_block">
          <p class="huge">{{header}}</p>
					<p>{{tagline1}}</p>
					<p>{{tagline2}}</p>
      </section>
    {{/with}}

    {{#with mission}}
      <section class="screen">
        <div class="center_block">
          <p class="huge">{{header}}</p>
					<p>{{tagline1}}</p>
					<p>{{tagline2}}</p>
      </section>
    {{/with}}
{{/body}}
