{{#>body}}
    {{#with brand}}
    <!DOCTYPE html>


      <section class="screen" style ='background-image: url({{link}})' >
        <div class="center_block">

          <p class="huge">{{header}}</p>

          <h1>{{title}}</h1>
					<p>{{tagline1}}</p>
					<p>{{tagline2}}</p>

      </section>
    {{/with}}

    {{#with mission}}
      <section class="screen">
        <div class="center_block">
          <p class="huge">{{header}}</p>
					<p>{{tagline1}}</p>
					<p>{{tagline2}}</p>
      </section>
    {{/with}}
{{/body}}
